<div class="container-fluid-full">
    <div class="row-fluid">

        <div class="row-fluid">
            <div class="login-box">
                <div class="icons">
                    <a href="index.html"><i class="halflings-icon home"></i></a>
                    <a href="#"><i class="halflings-icon cog"></i></a>
                </div>
                <h2>Login to your account</h2>
                <form class="form-horizontal" (ngSubmit)="submit()">
                    <fieldset>

                        <div class="input-prepend" title="Access Key">
                            <span class="add-on"><i class="halflings-icon tag"></i></span>
                            <input #accessKeyField class="input-large span10" name="access-key" id="access-key" (input)="accessKey = accessKeyField.value" type="text" placeholder="type access key" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                        </div>
                        <div class="clearfix"></div>

                        <div class="input-prepend" title="Token">
                            <span class="add-on"><i class="halflings-icon user"></i></span>
                            <input #tokenField class="input-large span10" name="token" id="token" (input)="token = tokenField.value" type="text" placeholder="type token" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                        </div>
                        <div class="clearfix"></div>

                        <!-- <div class="input-prepend" title="Password">
                            <span class="add-on"><i class="halflings-icon lock"></i></span>
                            <input #passwordField class="input-large span10" name="password" id="password" type="password" (input)="password = passwordField.value" placeholder="type password" />
                        </div>
                        <!-- <label class="remember" *ngIf="message">{{message}}</label> -->
                        <!-- <div class="clearfix"></div> -->


                        <label class="remember" for="remember"><input type="checkbox" id="remember" />Remember me</label>

                        <div class="button-login">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <div class="clearfix"></div>
                    </fieldset>
                </form>
                <hr>
                <h3>Forgot Password?</h3>
                <p>
                    No problem, <a href="#">click here</a> to get a new password.
                </p>
            </div>
            <!--/span-->
        </div>
        <!--/row-->


    </div>
    <!--/.fluid-container-->

</div>
<!--/fluid-row-->